body {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
/*   background-color: #d1d8e8;*/
    background-color: #739ABA;
    transition: background-color 0.7s ease-in-out;
}

body:has(.switch input:checked ) { 
   background-color: #4A4D56;
    transition: background-color 0.7s ease-in-out;
}

.switch label {
   height: 110px;
   width: 270px;
   background: linear-gradient(to left, #6592b7, #1a1d26) right;
   background-size: 1000%;
   border-radius: 100px;
   box-shadow: inset 0px 6px 8px rgba(50, 50, 50, 0.75);
   overflow: hidden;
   position: relative;
   transition: 0.8s ease-out;
}

.switch input:checked ~ label {
   background-position: left;
   transition: 1s ease-out;
}

.cloud{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
   transition: 0.6s ease-out;
}

.cloud .circle-1{
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #f4f9ff;
    border-radius: 50%;
    right: -12%;
    bottom: 5%;
}

.cloud .circle-2{
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #f4f9ff;
    border-radius: 50%;
    right: -4%;
    bottom: -25%;
}

.cloud .circle-3{
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #f4f9ff;
    border-radius: 50%;
    right: 10%;
    bottom: -53%;
}

.cloud .circle-4{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #f4f9ff;
    border-radius: 50%;
    right: 30%;
    bottom: -35%;
}

.cloud .circle-5{
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #f4f9ff;
    border-radius: 50%;
    right: 40%;
    bottom: -55%;
}


.cloud-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
   transition: 0.6s ease-out;
}

.cloud-shadow .circle-1{
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #a9c4df;
    border-radius: 50%;
    right: -7%;
    top: 10%;
}

.cloud-shadow .circle-2{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #a9c4df;
    border-radius: 50%;
    right: 8%;
    bottom: 4%;
}

.cloud-shadow .circle-3{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #a9c4df;
    border-radius: 50%;
    right: 17%;
    bottom: -18%;
}

.cloud-shadow .circle-4{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #a9c4df;
    border-radius: 50%;
    right: 31%;
    bottom: -13%;
}

.cloud-shadow .circle-5{
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #a9c4df;
    border-radius: 50%;
    right: 40%;
    bottom: -39%;
}

.cloud-shadow .circle-6{
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #a9c4df;
    border-radius: 50%;
    right: 57%;
    bottom: -52%;
}

.cloud-shadow .circle-7{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #a9c4df;
    border-radius: 50%;
    right: 75%;
    bottom: -23%;
}

.stars{
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.8s ease-out;
}

.star-1 {
    width: 10px;
    height: 12px;
    position: absolute;
    top: 15%;
    left: 22%;
    animation: twinkle1 1s infinite;
}

.star-2 {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 33%;
    left: 12%;
}

.star-3 {
    width: 6px;
    height: 6px;
    position: absolute;
    top: 47%;
    left: 24%;
}

.star-4 {
    width: 3px;
    height: 3px;
    position: absolute;
    top: 72%;
    left: 16%;
}

.star-5 {
    width: 3px;
    height: 3px;
    position: absolute;
    top: 80%;
    left: 13%;
    animation: twinkle2 1s infinite;
}

.star-6 {
    width: 3px;
    height: 3px;
    position: absolute;
    top: 85%;
    left: 24%;
}

.star-7 {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 28%;
    left: 45%;
}

.star-8 {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 51%;
    left: 42%;
    animation: twinkle4 1s infinite;
}

.star-9 {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 72%;
    left: 45%;
    animation: twinkle3 1s infinite;
}

.star-10 {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 57%;
    left: 53%;
}

.star-11 {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 28%;
    left: 55%;
}

.star-12 {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 15%;
    left: 22%;
}

.switch input:checked ~ label .cloud, .switch input:checked ~ label .cloud-shadow {
   left: 100%;
   transition: 0.8s ease-out;
}

.switch input:checked ~ label .stars {
   right: 0;
   transition: 0.8s ease-out;
}

.switch label .sun {
   height: 90px;
   width: 90px;
   background: #f3c227;
   border-radius: 50%;
   position: relative;
   top: 10px;
   left: 10px;
   display: block;
   transition: 1s;
   box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 90px rgba(255, 255, 255, 0.1), 
   0px 6px 8px rgba(50, 50, 50, 0.75), 
   inset 4px 3px 8px #ebdb99, inset -4px -3px 8px #a68c2f;
   overflow: hidden;
}

.switch label .moon {
   height: 90px;
   width: 90px;
   left: 100px;
   background: #c4c8d1;
   border-radius: 50%;
   position: absolute;
   display: block;
   transition: 0.8s;
   box-shadow: 0px 6px 8px rgba(50, 50, 50, 0.75), inset 4px 3px 8px #dad8e3, inset -4px -3px 8px #94989b;
}

.switch input:checked ~ label .sun {
   background-position: left;
   left: 170px;
}
.switch input:checked ~ label .moon {
   left: 0px;
   transition: 1s;
}

.switch label .moon .crater-1{
    background-color: #959bb1;
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    top: 18%;
    left: 48%;
    box-shadow: inset 1px 2px 1px #87899d;
    transform: translate(-48%, -18%);
    
}
.switch label .moon .crater-2{
    background-color: #959bb1;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    top: 60%;
    left: 22%;
    box-shadow: inset 2px 2px 1px #87899d;
    transform: translate(-22%, -65%);
}

.switch label .moon .crater-3{
    background-color: #959bb1;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    top: 70%;
    left: 80%;
    box-shadow: inset 1px 2px 1px #87899d;
    transform: translate(-80%, -70%);
}

@keyframes twinkle1 {
  77% {opacity: 0;}
}

@keyframes twinkle2 {
  51% {opacity: 0;}
}

@keyframes twinkle3 {
  23% {opacity: 0;}
}


@keyframes twinkle4 {
  91% {opacity: 0;}
}